.body{
    background-image: linear-gradient(to right, rgba(229, 238, 146, 0.685),white,rgba(245, 185, 135, 0.753));
    margin-top: 8%;
    display: flex;
    justify-content: center;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.submit{
    border-radius: 8px;
    position: relative;
    left: 10%;
}
.href{
    text-decoration: none;
    position: relative;
    left: 20%;
}
.form-control{
    position: relative;
    right: 25%;
}
.href1{
    text-decoration: none;
    position: relative;
    right: 25%;
}